/* Color Variables */

$primary-btn-bgcolor: #e3170a;
$primary-btn-textcolor: white;

$secondary-btn-bgcolor: #8acfe5;
$secondary-btn-textcolor: black;

$third-btn-bgcolor: transparent;
$third-btn-textcolor: #8acfe5;

/* Screen-sizes Variables */

$mobile-size: 835px;
