.navbar {
  height: 50%;
  ul {
    @include flex(row, space-around, flex-end);
    height: 100%;
    list-style: none;
  }
  li {
    padding: 1rem 0;
  }
  a {
    @include font(1.5rem, 1.75rem, 700, normal);
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: #8acfe5;
  }
}
.navbar-mobile {
  display: none;
}
.burger-close-btn {
  display: none;
}
@media screen and (max-width: $mobile-size) {
  .navbar {
    @include flex(column, flex-end, flex-end);
    position: absolute;
    right: 2.5%;
    left: 2.5%;
    top: 2.5%;
    bottom: 2.5%;
    width: 95%;
    height: 95%;
    z-index: 1;
    background-color: #011827;
    ul {
      @include flex(column, center, center);
      height: 100%;
      width: 100%;
      list-style: none;
    }
    li {
      margin: 0 0 1.2rem 0;
    }
    a {
      @include font(2.25rem, 2.63rem, 700, normal);
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
    a:hover {
      color: #8acfe5;
    }
  }
  .navbarBg {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .burger-close-btn {
    display: block;
    font-size: 4rem;
    color: white;
    margin: 0.8rem 1.6875rem 0 0;
    cursor: pointer;
  }
  .navbar-mobile {
    display: block;
    margin: 1.625rem 1.6875rem 0 0;
  }
  .burger-open-btn {
    font-size: 3rem;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
}
