* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  max-width: 100%;
  max-height: 100%;
  font-size: 16px;
  font-family: "arial narrow";
}
.grid-template {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* || Header and Main Navigation */
.header {
  grid-column: span 12;
  padding: 1em 1em 0 1em;
}
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    border-radius: 50%;
    height: 64px;
  }
  h1 {
    margin: 0 0 0 0.5em;
    text-align: center;
  }
}
.navbar {
  grid-column: span 12;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 2em;
  }
  a {
    padding: 1.2em;
    color: rgba(82, 82, 82, 0.822);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: black;
  }
}
// Mobile
.header-mobile {
  display: none;
  grid-column: span 12;
  padding: 1em 1em;

  img {
    float: left;
    border-radius: 50%;
    height: 64px;
    margin: 0 0.5em 0 0;
  }
  h1 {
    width: 100%;
  }
  p {
    width: 100%;
  }
  nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em 0.5em;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}

/* || Main Content */

.main {
  grid-column: span 12;
}

.hero-image {
  grid-column: span 12;
  height: 275px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: lightgray;
  }
}
.hero-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    background-color: rgb(61, 61, 255);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1.1em;
    border-radius: 0.3em;
    margin: -1em 0.6em 0 0.6em;
  }
  i {
    margin-right: 0.5em;
    font-size: 0.8em;
  }
}
.quote-ctn {
  grid-column: span 12;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5em 2em 2em 2em;
}

.quote-card {
  height: 100%;
  text-align: left;
  margin: 0 1em;
  line-height: 1.4;

  img {
    float: left;
    border-radius: 50%;
    padding: 0 0.5em;
    height: 4.5em;
  }
  p {
    display: block;
    font-style: italic;
    font-size: 1rem;
  }
  figcaption {
    display: block;
    font-size: 0.8rem;
  }
}

.challenges-ctn {
  grid-column: span 12;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5em;

  h2 {
    text-align: center;
    margin: 0 0 2em 0;
  }
}
.challenges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
.challenges-card {
  border: solid 0.15em rgba(138, 137, 137, 0.452);
  height: 100%;
  width: 14.4em;
  margin: 0 0.8em;

  h3 {
    font-size: 1rem;
    padding: 0.2rem 0.5rem 0 0.5rem;
  }
  span {
    display: inherit;
    font-size: 0.6rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
  p {
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }
  a {
    background-color: rgb(84, 84, 250);
    display: block;
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.6em 1em;
    margin: 0.7em 0.7em;
    font-size: 0.9rem;
  }
}
.challenge-image {
  position: relative;
  width: 100%;
  height: 8em;
  img {
    position: absolute;
    width: 100%;
    height: 8em;
  }
  /* MIXIN ---- */
  .fa-laptop {
    position: absolute;
    font-size: 1.5rem;
    color: #333;
    margin: 0.25em 0.25em 0 0;
    right: 0;
  }
  .fa-home {
    position: absolute;
    font-size: 1.5rem;
    color: #333;
    margin: 0.25em 0.25em 0 0;
    right: 0;
  }
}
.rating {
  position: absolute;
  bottom: 0;
  margin: 0 0 0.3em 0.8em;
  color: lightgreen;

  i {
    font-size: 0.75rem;
    color: rgb(65, 65, 253);
  }
}
.challenge-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3em 0 0 0;

  a {
    background-color: white;
    color: rgb(61, 61, 255);
    text-align: center;
    text-decoration: none;
    border: solid 0.15em lightgray;
    padding: 0.5em 1.1em;
    margin: 0 0.4em;
    border-radius: 0.3em;
  }
  i {
    font-size: 0.8rem;
    margin: 0 0.6em;
  }
}
.aboutUs {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 2em;
  margin: 4em 0 0 0;

  p {
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
    width: 100%;
  }
  a {
    color: rgb(61, 61, 255);
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    border: solid 0.15em lightgray;
    padding: 0.5em 1.1em;
    border-radius: 0.3em;
    margin: 3em 0 0 0;
  }
}
/* MIXIN */

.booking-information {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
}

.booking-card {
  display: flex;
  flex-direction: row;
}
.teambuilding-img {
  width: 100%;
  height: 275px;
  background-color: lightgrey;
}

.book-information {
  width: 100%;

  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0 0 0.6em 0;
    padding: 0 1rem;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0 1rem;
  }
  a {
    background-color: rgb(61, 61, 255);
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 10em;
    padding: 0.6em;
    margin: 1rem 0 0 1rem;
    border-radius: 0.3em;
  }
}

.book-information-two {
  width: 100%;

  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0 0 0.6em 0;
    padding: 0 1rem;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0 1rem;
  }
  a {
    background-color: rgb(61, 61, 255);
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 10em;
    padding: 0.6em;
    margin: 1rem 0.5rem 0 1rem;
    border-radius: 0.3em;
  }
  i {
    font-size: 0.9rem;
    margin: 0 0.6em 0 0;
  }
}
.teambuilding-img-two {
  width: 100%;
  height: 275px;
  background-color: lightgrey;
}

.footer {
  grid-column: span 12;
  background-color: lightsteelblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5em 0 0 0;
  padding: 5em 0;
}

.company {
  display: block;
  width: 40%;

  h3 {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.801);
  }
}
.sitemap {
  h3 {
    font-size: 0.9rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin: 0.5em 0 1.2em 0;
  }
  a {
    padding: 0.15em 0;
    text-decoration: none;
    color: rgba(32, 32, 32, 0.966);
  }
}

.social {
  h3 {
    font-size: 0.9rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin: 0.5em 0 0 0;
  }
  a {
    padding: 0.15em 0;
    text-decoration: none;
    color: rgba(32, 32, 32, 0.966);
  }
}
