@import "./helpers/mixin";
@import "./helpers/variables";
@import "./helpers/placeholders";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  max-width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto";
}

/* || Header and Main Navigation */

header {
  background-color: #011827;
  height: 13.5rem;
}
.header-logo {
  @include flex(row, flex-start, flex-end);
  img {
    width: 128px;
    height: 82px;
    margin: 1rem 0 0 1rem;
  }
}
.header-text {
  @include flex(row, center, center);
  color: #ffffff;
  margin: 0 0 1rem 1rem;
  h1 {
    @include font(2.5rem, 2.93rem, 700, normal);
    margin: 0 0.5rem 0 0;
  }
}
@media screen and (max-width: $mobile-size) {
  header {
    height: 9rem;
  }
  .header-logo {
    height: 100%;
    img {
      width: 128px;
      height: 98px;
      margin: 1.625rem 0.5rem 1.625rem 1.6875rem;
    }
  }
  .header-text {
    @include flex(column, center, flex-start);
    width: 5rem;
    margin: 0;
    h1 {
      @include font(1.5rem, 1.7581rem, 700, normal);
      margin: 1.625rem 0 2.25rem 0;
    }
  }
}
.navbar {
  height: 50%;
  ul {
    @include flex(row, space-around, flex-end);
    height: 100%;
    list-style: none;
  }
  li {
    padding: 1rem 0;
  }
  a {
    @include font(1.5rem, 1.75rem, 700, normal);
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: #8acfe5;
  }
}
@media screen and (max-width: $mobile-size) {
  .navbar {
    display: none;
  }
}

/* || Main Content */

.hero-container {
  height: 29.25rem;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
  }
}
.hero-buttons {
  @include flex(row, center, center);
  transform: translateY(-50%);
}
.hero-online-btn {
  @extend %primary-btn;
  @include font(1.5rem, 1.758125rem, 700, normal);
  margin: 0 0.5rem;
}
.hero-onsite-btn {
  @extend %secondary-btn;
  @include font(1.5rem, 1.758125rem, 700, normal);
  margin: 0 0.5rem;
}
@media screen and (max-width: $mobile-size) {
  .hero-container {
    height: 274px;
    margin: 0 0 10rem 0;
  }
  .hero-buttons {
    @include flex(column-reverse, center, center);
    margin: 6.2rem 0 0 0;
  }
  .hero-online-btn {
    @include font(1rem, 1.1718rem, 700, normal);
    margin: 1rem 0 0 0;
    background-color: transparent;
    color: #36769d;
    text-decoration: underline;
    border: none;
  }
}

.review-container {
  @include flex(row, center, center);
  margin: 9.375rem 2rem 6.25rem 2rem;
}
.review {
  @include flex(row, center, center);
  width: 37.5rem;
  margin: 0 1.25rem;

  img {
    align-self: flex-start;
    border-radius: 51.75rem;
    margin: 0 0.5rem;
    height: 6.6875rem;
    width: 6rem;
  }
  blockquote {
    display: block;
    @include font(1.5rem, 1.758125rem, 400, italic);
  }
  cite {
    display: block;
    @include font(1.125rem, 1.318125rem, 400, normal);
    margin: 1rem 0;
  }
}
@media screen and (max-width: $mobile-size) {
  .review {
    margin: 5rem 0 0 0;
  }
  .hide {
    display: none;
  }
}

.challenge-title {
  @include flex(row, center, center);
  margin: 0 0 5.625rem 0;

  h2 {
    @include font(2.25rem, 2.636875rem, 400, normal);
    text-align: center;
  }
}
.challenges-card-container {
  @include flex(row, center, center);
  height: 100%;
}

.challenge-card {
  height: 100%;
  min-width: 363px;
  margin: 1rem 1.34375rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.card-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  img {
    min-width: 363px;
    height: 219px;
    border-radius: 8px 8px 0px 0px;
  }
}
.card-text-container {
  width: 22.6875rem;
  h3 {
    @include font(1.75rem, 2.05rem, 400, normal);
    margin: 0.8rem 0 0 0.8rem;
  }
  small {
    @include font(0.875rem, 1.025rem, 400, normal);
  }
  p {
    @include font(1.125rem, 1.3181rem, 400, normal);
    margin: 0 0 0 0.8rem;
  }
}
.challenge-rating {
  @include flex(row, space-between, flex-start);
  margin: 0 0 1rem 0.8rem;
  width: 90%;
  i {
    width: 1.4425rem;
    height: 1.625rem;
    color: #e3170a;
  }
}
.card-btn-container {
  @include flex(row, flex-end, flex-end);
  margin: 1rem 0.8rem 1rem 0;
  a {
    @extend %primary-btn;
    @include font(1rem, 1.1718rem, 700, normal);
    width: 11.205rem;
    padding: 0.8125rem 0;
  }
}
@media screen and (max-width: 1140px) {
  .challenges-card-container {
    justify-content: flex-start;
    overflow-x: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: $mobile-size) {
  .challenges-card-container {
    justify-content: flex-start;
    overflow-x: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .challenge-card {
    min-width: 363px;
  }
}
.challenge-buttons {
  @include flex(row, center, center);
  margin: 5.625rem 0;
}
.challenge-online-btn {
  @extend %primary-btn;
  @include font(1.5rem, 1.758125rem, 700, normal);
  width: 19.25rem;
  padding: 1.1875rem 0;
  margin: 0 0.5rem 0 0;
}
.challenge-onsite-btn {
  @extend %secondary-btn;
  @include font(1.5rem, 1.758125rem, 700, normal);
  margin: 0 0 0 0.5rem;
}
@media screen and (max-width: $mobile-size) {
  .challenge-buttons {
    @include flex(column-reverse, center, center);
  }
  .challenge-online-btn {
    background-color: transparent;
    color: #36769d;
    border: none;
    text-decoration-line: underline;
  }
}
.company-story {
  @include flex(column, center, center);
  background-color: #011827;
  height: 31.25rem;
  width: 100%;
  margin: 5rem 0 0 0;

  p {
    @include font(1.75rem, 2.0506rem, 400, normal);
    width: 39.5rem;
    color: #ffffff;
    text-align: center;
  }
}
.story-btn {
  @extend %third-btn;
  @include font(1.5rem, 1.758125, 700, normal);
  margin: 3rem 0 0 0;
}
@media screen and (max-width: $mobile-size) {
  .company-story {
    p {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

.grid-section-container {
  @include flex(column, flex-start, center);
  height: 930px;
  max-width: 1280px;
  margin: auto;
}
.grid-card {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;
}
.grid-content {
  @include flex(column, center, center);
  width: 100%;
  height: 100%;
}
.grid-text {
  display: flex;
  flex-direction: column;
  width: 26rem;

  h3 {
    @include font(2rem, 2.34375rem, 700, normal);
    margin: 0 0 1.5625rem 0;
  }
  p {
    @include font(1.5rem, 1.7581rem, 400, normal);
    margin: 0 0 1.5625rem 0;
  }
}
.grid-image {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.grid-buttons {
  display: flex;
  flex-direction: row;
  width: 26rem;
  margin: 0 0 1.875rem 0;
}
.grid-btn {
  @extend %primary-btn;
  @include font(1.5rem, 1.758125rem, 700, normal);
  width: 19.25rem;
  padding: 1.1875rem 0;
}
@media screen and (max-width: $mobile-size) {
  .grid-section-container {
    width: 100%;
    height: 100%;
  }
  .grid-card {
    @include flex(column, center, center);
    width: 100%;
  }
  .reverse {
    @include flex(column-reverse, center, center);
    width: 100%;
  }
  .grid-image {
    width: 100%;
    height: 18.75rem;
    img {
      object-fit: cover;
    }
  }
  .grid-content {
    width: 100%;
  }
  .grid-text {
    display: flex;
    flex-direction: column;
    width: 100%;

    h3 {
      margin: 2.5rem 1.25rem 2.5rem 1.25rem;
    }
    p {
      margin: 0 1.25rem;
    }
  }
  .grid-buttons {
    width: 100%;
    margin: 2.5rem 0;
  }
  .grid-btn {
    margin: 0 0 0 1.25rem;
  }
}

footer {
  @include flex(row, space-around, flex-start);
  height: 29.1875rem;
  margin: 11.25rem 0 0 0;
  padding: 10rem 2rem 0 2rem;
  background-color: #011827;
  color: #ffffff;
}

.company {
  width: 40%;
  h3 {
    @include font(1.125rem, 1.3181rem, 700, normal);
  }
  p {
    @include font(1.125rem, 1.3181rem, 400, normal);
    margin: 0.35rem 0 0 0;
  }
}

.sitemap {
  h3 {
    @include font(1.125rem, 1.3181rem, 700, normal);
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0.35rem 0 0 0;
  }
  li {
    padding: 0.1rem 0;
  }
  a {
    @include font(1.125rem, 1.3181rem, 400, normal);
    color: #ffffff;
    text-decoration: none;
  }
}

.social {
  h3 {
    @include font(1.125rem, 1.3181rem, 700, normal);
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0.35rem 0 0 0;
  }
  li {
    padding: 0.1rem 0;
  }
  a {
    @include font(1.125rem, 1.3181rem, 400, normal);
    color: #ffffff;
    text-decoration: none;
  }
}
@media screen and (max-width: $mobile-size) {
  footer {
    @include flex(column, flex-start, flex-start);
    height: 100%;
    padding: 2rem 0 2rem 1rem;
    h3 {
      margin: 1.5rem 0 0 0;
    }
  }
  .company {
    width: 95%;
  }
}
