@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin primary-btn($bgColor, $textColor, $size) {
  background-color: $bgColor;
  color: $textColor;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.6rem 1rem;
  font-size: $size;
}
@mixin secondary-btn($bgColor, $textColor, $size) {
  background-color: $bgColor;
  color: $textColor;
  text-align: center;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-size: $size;
}
@mixin third-btn($bgColor, $textColor, $size) {
  background-color: $bgColor;
  color: $textColor;
  font-size: $size;
  text-align: center;
  text-decoration: none;
  border: 2px solid #8acfe6;
  border-radius: 4px;
  padding: 0.6rem 1rem;
}

/* Button Variables */

$primary-btn-bgcolor: #e3170a;
$primary-btn-textcolor: white;

$secondary-btn-bgcolor: #8acfe5;
$secondary-btn-textcolor: black;

$third-btn-bgcolor: transparent;
$third-btn-textcolor: #8acfe5;

/* Screen-sizes Variables */

$desktop-size: 100%;
$mobile-size: 800px;
